.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.game-area {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  position: absolute; /* Position absolutely within its parent */
  top: 0; /* Align to the top of the parent */
  left: 0; /* Align to the left of the parent */
  background: url('./assets/hogwards.gif') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}


.letter-container {
  color: #eeba30;
  margin-top: -24rem;
  margin-right: -33rem;
} 